* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
html, body{
    margin: 0;
    height: 100%;
    width: 100%;
}
.introduction   {
    background: url("../images/mountain.jpg");
    height: 100%;
    width: 100%;
}
.brand  {
    text-align: center;
    position: absolute;
    height: 110px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}
.brand h1   {
    letter-spacing: 0.6em;
    font-size: 2.1em;
    text-shadow: 1px 1px 10px #3b3b3b;
    font-weight: 400;
    background: rgba(1, 1, 1, 0.1);
    padding: 0.3em 0.3em 0.3em 1em;
    animation-delay: 0.7s;
}
.brand h2   {
    letter-spacing: 0.4em;
    font-size: 1.6em;
    text-shadow: 1px 1px 10px #3b3b3b;
    font-weight: 300;
    background: rgba(1, 1, 1, 0.1);
    padding: 0.3em 0.3em 0.3em 1em;
    animation-delay: 0.8s;
}
.intro-footer{
    position: absolute;
    bottom: 3%;
    width: 100%;
    animation-delay: 1.5s;
    text-align: center;
    color: #d3d3d3;
    font-family: 'open sans', sans-serif;
    font-size: 15px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.intro-footer a{
    text-decoration: none;
    color: #fff;
}
.intro-footer a:hover   {
    color: rgba(255, 255, 255, 0.5);
}
.intro-footer a:visited {
    color: rgb(255, 255, 255);
}
.about{
    padding: 100px;
    font-family: 'open sans', sans-serif;
    background: #f5f5f5;
}
.about-header-block {
    text-align: center;
}
.about-header-block h1 {
    margin: 0 auto;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    color: rgba(10, 10, 10, 0.7);
    animation-delay: 0.5s;
}
.about-content-block {
    margin: 0 auto;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding: 15px;
    color: rgba(20, 20, 20, 0.9);
    font-family: 'open sans', sans-serif;
    font-size: 25px;
    width: 50%;
    animation-delay: 1s;
}
.interests  {
    padding: 100px;
}
.interest-header    {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #a0a0a0;
}
.interest-header h1  {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.2em;
    font-family: 'open sans', sans-serif;
    padding: 10px;
    text-align: center;
}
.columns    {
    width: 100%;
    display: flex;
    list-style-type: none;
}
.column {
    padding-top: 20px;
    text-align: center;
    font-family: 'open sans', sans-serif;
    max-width: 50%;
}
.column h1  {
    letter-spacing: 0.1em;
    font-weight: 400;
    font-size: 25px;
    padding: 10px;
    color: rgba(20, 20, 20, 0.8);
}
.column p   {
    margin: 0 auto;
    color: rgba(20, 20, 20, 0.7);
    width: 70%;
}
.column1    {
    border-right: 1px solid rgba(10, 10, 10, 0.5);
}
.skills {
    padding: 100px;
    background: rgba(50, 50, 50, 0.7);
    color: whitesmoke;
}
.skills-header  {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #a0a0a0;
}
.skills-header h1   {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.2em;
    font-family: 'open sans', sans-serif;
    padding: 10px;
    text-align: center;
}
.skills-body    {
    margin-top: 50px;
}
.skills-body-ul {
    list-style-type: none;
    display: flex;
    background-color: #353535;
}
.skills-body-li {
    margin: 4px;
    background-color: #3f3f3f;
    padding: 30px;
    color: #fff;
    width: 20%;
    text-align: center;
    font-family: 'open sans', sans-serif;
    letter-spacing: 0.1em;
}
.projects   {
    padding: 100px;
    background: rgba(240, 240, 240, 0.5);
    color: #303030;
}
.project-header {
    text-align: center;
    margin: 0 auto;
    border-bottom: 1px solid #a0a0a0;
}
.project-header h1  {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 0.2em;
    font-family: 'open sans', sans-serif;
    padding: 10px;
    text-align: center;
}

.slide  {
    border: 2px solid #000;
    height: 768px;
    margin: 45px;
    position: relative;
}
.back   {
    position: absolute;
    left: 10px;
    top: 354px;
}
.forward    {
    position: absolute;
    right: 10px;
    top: 354px;
}
.loc-group  {
    position: absolute;
    bottom: 20px;
    left: 48%;
}

@media (min-width: 320px)   {
    .about-header-block h1  {
        width: 60%;
    }
    .header    {
        width: 60%;
    }
    .skills-body-ul {
        font-size: 11px;
        background: #6F6F6F;
        align-items: center;
        flex-direction: column;
    }
}
@media (min-width: 480px)   {
    .about-header-block h1  {
        width: 25%;
    }
    .header    {
        width: 45%;
    }
    .skills-body-ul {
        font-size: 14px;
        background: #6F6F6F;
        align-items: center;
        flex-direction: column;
    }
}
@media (min-width: 768px)   {
    .about-header-block h1  {
        width: 20%;
    }
    .header    {
        width: 33%;
    }
    .skills-body-ul {
        font-size: 21px;
        background: #6F6F6F;
        align-items: center;
        flex-direction: column;
    }
}
@media (min-width: 1100px) {
    .about-header-block h1 {
        width: 12%;
    }
    .header    {
        width: 25%;
    }
    .skills-body-ul {
        font-size: 25px;
        background: rgba(40, 40, 40, 0.5);
        align-items: center;
        flex-direction: row;
    }
}
